{% extends 'base.html.twig' %}

{% block body %}

    <h1>Artikel anlegen</h1>
	
    {{ form_start(form) }}
        {{ form_widget(form) }} 
        <input type="submit" value="Create" class="btn btn-block btn-success" style="margin-bottom: 6px;"/>
    {{ form_end(form) }}
	
    
            <a href="{{ path('artikel_index') }}" class="btn btn-block btn-info">Back to the list</a>
        
{% endblock %}
